asgiref==3.11.1
Django==6.0.4
django-cors-headers==4.9.0
djangorestframework==3.17.1
Pillow>=12.0
sqlparse==0.5.5
tzdata==2026.1
gunicorn>=23.0.0
whitenoise>=6.8.0
dj-database-url>=2.3.0
python-decouple>=3.8
psycopg2-binary>=2.9.10
cloudinary>=1.41.0
django-cloudinary-storage>=0.3.0
django-axes>=8.0.0